.login-container {
  height: calc(100vh - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-email__input, .login-password__input {
  margin-top: 5px;
  height: 30px;
  background-color: #e1e1e1;
  border: none;
  outline: none;
  padding-left: 5px;
}

.login-form h2{
  margin-bottom: 20px;
  color: #CC0000;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-top: 20px;
}

.login-form button {
  margin: 20px 0px 10px 0px;
  border: none;
  outline: none;
  background-color: #CC0000;
  height: 30px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.login-error {
  font-weight: 600;
  color: #CC0000;
}

.to-signup__link {
  font-weight: 600;
  color: skyblue;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .to-signup {
    font-size: 0.9rem;
  }
}