.mobile-foot-bar__container {
  display: none;
  position: sticky;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.mobile-foot-bar__container span {
  font-size: 0.7rem;
}

.foot-bar__home, 
.foot-bar__explore, 
.foot-bar__upload, 
.foot-bar__follow, 
.log-logout,
.log-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isclicked svg{
  fill: #CC0000;
}

.isclicked span {
  color: #CC0000;
}

@media screen and (max-width: 768px) {
  .mobile-foot-bar__container {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}