.search-container {
  margin-left: 3vw;
}

.search-form {
  width: 35vw;
  display: flex;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  height: 30px;
  font-size: 1.1rem;
  border: none;
  border: 1px solid #aaaaaa;
}

.search-button {
  border: 1px solid gray;
  border: none;
  border: 1px solid #aaaaaa;
  border-left: none;
}

.search-button svg {
  width: 40px;
  fill: gray;
}

@media screen and (max-width: 840px){
  .search-form {
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .search-container {
    display: none;
  }
}