.signup-container {
  height: calc(100vh - 112px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.signup-email__input,
.signup-username__input,
.signup-fullname__input,
.signup-password__input {
  margin-top: 5px;
  height: 30px;
  background-color: #e1e1e1;
  border: none;
  outline: none;
  padding-left: 5px;
}

.signup-form h2{
  margin-bottom: 20px;
  color: #CC0000;
}

.signup-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-top: 20px;
}

.signup-form button {
  margin: 20px 0px 10px 0px;
  border: none;
  outline: none;
  background-color: #CC0000;
  height: 30px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.signup-error {
  font-weight: 600;
  color: #CC0000;
}

.to-login__link {
  font-weight: 600;
  color: skyblue;
  cursor: pointer;
}