.upload-container {
  min-height: calc(100vh - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form h2{
  margin-bottom: 20px;
  color: #CC0000;
}

.upload-video__label, .upload-thumbnail__label {
  text-align: center;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.upload-form {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.upload-video__input {
  visibility: hidden;
}

.upload-thumbnail__input {
  visibility: hidden;
}

.upload-title__input {
  margin-bottom: 20px;
  height: 30px;
  outline: none;
}

.upload-textarea {
  resize: none;
  margin-bottom: 20px;
  font-size: 1rem;
  outline: none;
}

@media screen and (max-width: 768px) {
  .upload-form {
    width: 90%;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.upload-form button {
  height: 40px;
  outline:none;
  border: none;
  background-color: steelblue;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
}