.video-comment__container {
  margin-top: 20px;
}

.video-comment__count {
  margin-bottom: 20px;
}

.video-comment__form {
  width: 100%;
  margin-bottom: 20px;
}

.video-comment__form button {
  width: 80px;
}

.video-comment__textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
  outline: none;
  font-size: 1rem;
  resize: none;
}
