.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video {
  max-width: 2000px;
  width: 100%;
}

.video-detail__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.video-details {
  width: 95%;
  height: 80px;
  border-bottom: 1px solid gray;
}

.video-title {
  margin: 10px 0px;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-title span {
  font-size: 1.5rem;
  font-weight: 600;
}

.video-info {
  display: flex;
  align-items: center;
}

.video-info span {
  font-size: 0.9rem;
  color: grey;
  width: 50%;
  display: block;
}

.video-info__icons {
  display: flex;
  align-items: center;
}

.video-info__icons svg {
  fill: #909090;
}

.like-num {
  margin-left: 10px;
}

.video-user__container {
  width: 95%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.video-column:first-child{
  width: 50px;
}

.video-column:nth-child(2){
  width: 85%;
}

.video-column:last-child{
  width:80px;
}

.video-avatar {
  width: 48px;
  height: 48px;
  background-color: pink;
  border-radius: 50%;
}

.video-user {
  margin-bottom: 30px;
}

.video-username {
  font-size: 1.1rem;
}

.video-subscriber {
  color: #909090;
}

.video-description {
  width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}

.video-subscribe__button {
  width: 72px;
  height: 38px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #CC0000;
  font-size: 0.89rem;
  color: white;
}

.video-description__container {
  padding-bottom: 15px;
}

.toggle-more {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  color: gray;
}